<mat-card class="kartica" (click)="otvori()">

  <div class="slika">
    <span class="emodzi">{{ igracka.slika }}</span>
  </div>

  <mat-card-content>
    <p class="proizvodjac">{{ igracka.proizvodjac }}</p>
    <p class="naziv">{{ igracka.naziv }}</p>
    <p class="tekst-mali tekst-sivi">Uzrast: {{ igracka.uzrast }} godina</p>
    <p class="cena">{{ igracka.cena }} RSD</p>
    <span class="oznaka" [ngClass]="igracka.naStanju > 0 ? 'oznaka-ima' : 'oznaka-nema'">
      {{ igracka.naStanju > 0 ? 'Na stanju' : 'Nema na stanju' }}
    </span>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" class="dugme"
            [disabled]="igracka.naStanju === 0" (click)="dodajUKorpu($event)">
      Dodaj u korpu
    </button>
  </mat-card-actions>
</mat-card>
